
body  {
    color : white;
}

.Display
{
   background-color : #e0d61d; 
   height: 50px;
   width : 324px;
   margin : auto;	
   padding : inherit;
   color : purple;	
   border-radius : 10px 10px 10px 10px;		
}
.DesDisplay
{
   background-color : #c1ea33; 
   height: 100px;
   width : 324px;
   margin : auto;	
   padding : inherit;
   color : #44043c;	
   border-radius : 10px 10px 10px 10px;		
}
a:hover
 {

     border-radius : 1px;
     border-width : 0px;
 }
img:hover {

     border-radius : 0px;
     border-width : 0px;
}

li {
    text-decoration-line : none;
    float : left;
    display :  block;
    display : inline;
 
}


